/* few classes on heights and widths*/

.h-screen {
  height: 100vh;
}

.w-400 {
  width: 400px;
}

/* input*/
input,select{
  height: 40px;
  border: 2px soild rgb(8, 92, 8);
  width: 100%;
  padding-left: 20px;
}

/* .ant-form-item{
  margin: 0 !important;
} */
/*card*/

.card {
  border: 2px soild rgb(16, 94, 26);
  box-shadow: 0 0 1px rgb(206, 205, 205);
  border-radius: 0 !important;
}

.text-2xl {
  font-size: 30px;
}

.text-xl {
  font-size: 25px;
}

.text-lg {
  font-size: 20px;
}

.text-md {
  font-size: 18px;
}

/* buttons */

.primary-btn {
  background-color: var(--primary) !important;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.disabled-btn {
  background-color: rgb(17, 63, 21) !important;
  color: white;
  border: none !important;
  padding: 10px 20px;
  border-radius: 0 !important;
  cursor: not-allowed;
}

button {
  border-radius: 0 !important;
}

.secondary-btn {
  background-color: var(--secondary) !important;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

a {
  text-decoration: none !important;
  color: var(--primary) !important;
}

/* loader/spinner */

.spinner-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 235, 235, 0.144) !important;
  z-index: 10000;
}

.spinner-border {
  color: white;
  height: 80px;
  width: 80px;
}

h1,
p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.svg-icon {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.secondary-text{
 color: var(--secondary);
}

.primary-text{
  color: var(--primary);
}

.outlined{
  border: 2px solid var(--primary) !important;
  color: var(--primary) !important;
  background-color: white !important;

}

table{
  border : 1px solid rgb(179, 178, 178) !important
}